<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Faculty List</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f4f4f4;
            }

            .container {
                max-width: 800px;
                margin: 20px auto;
                padding: 20px;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            h1 {
                color: #333;
                text-align: center;
                margin-bottom: 20px;
            }

            ol {
                list-style-type: none;
                padding: 0;
            }

            li {
                margin-bottom: 20px;
                padding: 20px;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }

            p {
                color: #333;
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Faculty List:</h1>

            <ol>
                <% for (let faculty of list) { %>
                <li>
                    <p>_id: <%= faculty._id %></p>
                    <p>Name: <%= faculty.name %></p>
                    <p>Experience: <%= faculty.experience %> years</p>
                    <p>PhotoURL: <%= faculty.photoUrl %></p>
                    <p>Average Rating: <%= faculty.avgRating %></p>
                    <p>Total Rating: <%= faculty.totalRating %></p>
                </li>
                <% } %>
            </ol>
        </div>
    </body>
</html>
